* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    /* Tamanho menor da logomarca */
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.box {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 0 auto;
}

h1 {
    color: #004b49;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.content {
    text-align: left;
}

.content p {
    font-size: 16px;
    color: #004b49;
    margin-bottom: 10px;
}

.download-button {
    display: inline-block;
    background: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.download-button:hover {
    background-color: #004b49;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #00796b;
    text-decoration: none;
    font-size: 14px;
}

.back-link:hover {
    text-decoration: underline;
}